* {
    margin: 1px;
    padding: 1px;
  }
  
  body {
    background-color: #434343;
  }
  
  main {
    display: grid;
    height: 100vh;
    width: 100%;
    gap: 1% 1%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      "header header header"
      "visitantes visitantes aside"
      "visitantes visitantes aside";
  }
  
  header {
    grid-area: header;
    display: flex;
    justify-content: center;
    margin: 1vh;
  }
  
  h1 {
    color: #F4C846;
    font-size: 2.5em;
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin-top: 22vh;
    font-family: "Cormorant Garamond", serif;
  }

  h2 {
    color: rgb(255, 255, 255);
    font-size: 2.5em;
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin-top: 22vh;
    font-family: 'Cormorant Garamond', serif;
  }

  .btn {
    background-color: rgb(255, 255, 255);
    color:rgb(2, 2, 2);
    margin: 10px;
  }
  
  #button-addon2 {
    background-color: rgb(255, 255, 255);
    color:rgb(2, 2, 2);
    margin: 0px;
  }
  
  #marcoImagen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    margin: 0;
    padding: 0;
    background-size: contain;
    background-repeat: no-repeat; 
  }
  
  #lock {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    margin: 0;
    padding: 0;
    background-size: contain;
    background-repeat: no-repeat;
  }
    
  #logo {
    width: 35vh;
  }

  img {
    width: 25vh;
  }

  aside {
    grid-area: aside;
    background-color: transparent;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border:rgb(255, 255, 255) 1px solid;
    color: rgb(255, 255, 255);
  }
  
  #busqueda {
    position: sticky;
  }
  
  #visitantes {
    grid-area: visitantes;
    background-color: transparent;
    border-radius: 15px;
    overflow: auto;
    white-space: nowrap;
    margin: 2px;
    border:#F4C846 3px solid;
  }

  #nombres {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }


element.style {
  width: 18rem;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  word-wrap: break-word;
  background-color: #ffffff;
  background-clip: border-box;
  border: 8px solid rgb(244, 200, 70 / 38%);
  border-radius: 2.25rem;
} 
   
footer {
  grid-area: footer;
  margin-top: 10px;
  color: #ffff;
  flex-wrap: wrap;
  align-content: center;
  flex-direction: row;
}
  
 
  