* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  body {
    background-color: #393534;
  }

  main {
    
    height: 100vh;
    width: 100%;
    gap: 1% 1%;
    grid-template-rows: Document 1fr 1fr 1fr;
    grid-template-areas:
     "header"
     "title "
     "registro"
     "formID";
  }

  header {
    grid-area: header;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  img {
    display: flex;
    margin: 5vh;
    align-items: center;
    flex-direction: column;
    height: 50vh;
   }

  #title {
    grid-area: title;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  #registro {
    grid-area: registro;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  #formID {
    grid-area: formID;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  h1 {
    color: #F6B144;
    font-size: 3.5em;
    font-family: 'EB Garamond', serif;
  }
 
  h5 {
    margin-top: 10vh;
  }

  button {
      height: 7vh;
      width: 20vh;
      font-size: 1.5em;
      border-radius: 15px;
  }

  input {
    height: 7h;
    width: 25vh;
    font-size: 1.5em;
    border-radius: 5px;
  }
