* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #434343;
}

main {
  display: grid;
  height: 100vh;
  width: 100%;
  gap: 1% 1%;
  grid-template-columns: 1.5fr 1fr;
  grid-template-rows: 1.5fr 1fr;
  grid-template-areas:
    "header header"
    "section aside";
 
}

header {
  grid-area: header;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1vh;
}

#registro {
  grid-area: section;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1vh;
}

#lock{
  width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    margin: 0;
    padding: 0;
    background-size: contain;
    background-repeat: no-repeat;
}

h1 {
  color: #F4C846;
  font-size: 2.5em;
  text-align: center;
  display: flex;
  justify-content: space-between;
  font-family: 'Cormorant Garamond', serif;
}

section {
  grid-area: section;
  border:rgb(255, 255, 255) 1px solid;
  color: rgb(255, 255, 255);
  border-radius: 10px;
}

aside {
  grid-area: aside;
  border:#F4C846 1px solid;
  border-radius: 10px;
}

input {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: bolder;
}

label {
  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.clockdate-wrapper {
  background-color: rgba(51, 51, 51, 0.808);
  padding: auto;
  max-width: 50vh;
  width: 100%;
  text-align: center;
  border-radius: 15px;
  margin: 0 auto;
}
#clock {
  background-color: rgb(51, 51, 51);
  font-family: sans-serif;
  font-size: 2rem;
  text-shadow: 0px 0px 5px rgb(70, 61, 61);
  color: #fff;
}
#clock span {
  color: rgb(194, 189, 189);
  text-shadow: 0px 0px 3px rgba(78, 67, 67, 0.561);
  font-size: 1.5rem;
  top: -27px;
  left: -10px;
}
#date {
  letter-spacing: 0.3rem;
  font-size: 1rem;
  font-family: arial, sans-serif;
  color: rgb(230, 229, 238);
}

#imglogo {
  width: 35vh;
}

video {
  height: 32vh;
  width: 41vh;
  margin: center;
}

canvas {
  height: 32vh;
  width: 41vh;
  margin: center;
}


button {
  margin-top: 4vh;
  text-shadow: 0px 0px 3px rgb(236, 161, 161);
  color: rgba(49, 45, 45, 0.897);
  font-weight: bold;
  background-color: rgba(188, 190, 178, 0.808);
  border-radius: 15px;
  border: 3px solid rgb(9, 3, 65);
  padding: 1%;
  box-shadow: 0px 0px 10px rgba(63, 1, 1, 0.719);
}

#register {
  border-radius: 12px;
  padding: 1%;
  box-shadow: 0px 0px 10px grey;
}
